# Telangana Vehicle Sales 2023 ðŸš—

#### Kaggle link for dataset -- https://www.kaggle.com/datasets/zubairatha/revving-up-telangana-vehicle-sales-2023

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df=pd.read_csv('D:\\Data Science\\Datasets\\For_statistics\\03_Telangana_vehicles\\telangana_vehicle_sales.csv')
df.head(2)

,slno,modelDesc,fuel,colour,vehicleClass,makeYear,seatCapacity,insuranceValidity,secondVehicle,tempRegistrationNumber,category,makerName,OfficeCd,fromdate,todate
0,19139,ACTIVA - 6G DLX BSVI,PETROL,DECENT BLUE METALLIC,MOTOR CYCLE,01/08/2022,2,01/01/2028,Y,TS11AGTR3069,Non Transport,HONDA MOTORCYCLE&SCOOTER(I)P L,RTA MEDCHAL,01/01/2023,02/01/2023
1,19210,ACTIVA - 6G DLX BSVI,PETROL,DECENT BLUE METALLIC,MOTOR CYCLE,01/09/2022,2,01/01/2028,Y,TS11AGTR3340,Non Transport,HONDA MOTORCYCLE&SCOOTER(I)P L,RTA MEDCHAL,01/01/2023,02/01/2023

In [3]:
df.shape

(627866, 15)

In [5]:
## Setting option to view the maximum number of columns
pd.set_option('display.max_columns',15)

In [6]:
df.head()

,slno,modelDesc,fuel,colour,vehicleClass,makeYear,seatCapacity,insuranceValidity,secondVehicle,tempRegistrationNumber,category,makerName,OfficeCd,fromdate,todate
0,19139,ACTIVA - 6G DLX BSVI,PETROL,DECENT BLUE METALLIC,MOTOR CYCLE,01/08/2022,2,01/01/2028,Y,TS11AGTR3069,Non Transport,HONDA MOTORCYCLE&SCOOTER(I)P L,RTA MEDCHAL,01/01/2023,02/01/2023
1,19210,ACTIVA - 6G DLX BSVI,PETROL,DECENT BLUE METALLIC,MOTOR CYCLE,01/09/2022,2,01/01/2028,Y,TS11AGTR3340,Non Transport,HONDA MOTORCYCLE&SCOOTER(I)P L,RTA MEDCHAL,01/01/2023,02/01/2023
2,19308,ACTIVA - 6G DLX BSVI,PETROL,DECENT BLUE METALLIC,MOTOR CYCLE,01/10/2022,2,01/01/2028,N,TS11AGTR3027,Non Transport,HONDA MOTORCYCLE&SCOOTER(I)P L,RTA MEDCHAL,01/01/2023,02/01/2023
3,19309,ACTIVA - 6G DLX BSVI,PETROL,DECENT BLUE METALLIC,MOTOR CYCLE,01/10/2022,2,01/01/2028,N,TS11AGTR3072,Non Transport,HONDA MOTORCYCLE&SCOOTER(I)P L,RTA MEDCHAL,01/01/2023,02/01/2023
4,19329,ACTIVA - 6G DLX BSVI,PETROL,DECENT BLUE METALLIC,MOTOR CYCLE,01/11/2022,2,01/01/2028,N,TS11AGTR4864,Non Transport,HONDA MOTORCYCLE&SCOOTER(I)P L,RTA-HYDERABAD-CZ,01/01/2023,02/01/2023

In [7]:
# Checking the null values for the DF

pd.isnull(df).sum()

slno                          0
modelDesc                     0
fuel                      12851
colour                      319
vehicleClass                  0
makeYear                      0
seatCapacity                  0
insuranceValidity           135
secondVehicle                 0
tempRegistrationNumber        0
category                      0
makerName                     0
OfficeCd                      0
fromdate                      0
todate                        0
dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 627866 entries, 0 to 627865
Data columns (total 15 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   slno                    627866 non-null  int64
 1   modelDesc               627866 non-null  object
 2   fuel                    615015 non-null  object
 3   colour                  627547 non-null  object
 4   vehicleClass            627866 non-null  object
 5   makeYear                627866 non-null  object
 6   seatCapacity            627866 non-null  int64
 7   insuranceValidity       627731 non-null  object
 8   secondVehicle           627866 non-null  object
 9   tempRegistrationNumber  627866 non-null  object
 10  category                627866 non-null  object
 11  makerName               627866 non-null  object
 12  OfficeCd                627866 non-null  object
 13  fromdate                627866 non-null  object
 14  todate                  627866 non-null  object
dtypes: int64(2), object(13)
memory usage: 71.9+ MB

In [9]:
# Checking the unique value in the "fuel" column

df['fuel'].unique()

# Found the value of nan and -1

array(['PETROL', 'BATTERY', 'CNG PETROL', 'DIESEL', nan, 'PETROL LPG',
       '-1', 'CNG', 'PETROL CNG', 'PETROL ELECTRIC', 'LPG'], dtype=object)

In [10]:
# Checking the values for fuel

df['fuel'].value_counts()

fuel
PETROL             477920
DIESEL              78600
BATTERY             36508
CNG PETROL          15571
PETROL LPG           3951
CNG                  2117
-1                    197
PETROL ELECTRIC        87
PETROL CNG             51
LPG                    13
Name: count, dtype: int64

In [11]:
#Checking the values for vehicleClass

df['vehicleClass'].unique()

array(['MOTOR CYCLE', 'MOTOR CAR', 'Motor Cab',
       'Three Wheeled Goods Vehicle', 'Auto Rickshaw', 'Goods Carriage',
       'Chassis Transport', 'Tractor for Agricultural Purpose',
       'Tractor for Commercial Use', 'Ominibus',
       'Trailer For Commercial Use', 'Maxi Cab',
       'Trailer for Agriculture Purpose',
       'Vehicle Fitted with Construction Equipment',
       'Self Loading Concrete Mixer', 'Motor Cycle for Hire',
       'Omnibus for Private Use', 'Loader', 'Fork Lift', 'Ambulance',
       'MOTOR GRADER', 'Tractor Driven Combined Harvester', 'Road Roller',
       'Crane For Private Use', 'SELF PROPELLED HARVESTER',
       'Articulated Vehicles', 'Auto Rikckshaw Private',
       'Mopeds and Motorised Cycle'], dtype=object)

### Since we have fuel '-1', we have to find matching vehicleClass column, we can use it by 2 methods

In [12]:
# Method - 1
# Locating the vehicleClass where the fuel value is -1

df.loc[df['fuel'] == '-1', 'vehicleClass'].value_counts()

vehicleClass
Trailer For Commercial Use         110
Trailer for Agriculture Purpose     85
MOTOR CAR                            2
Name: count, dtype: int64

In [13]:
# Getting the index for the above

df.loc[df['fuel'] == '-1', 'vehicleClass'].value_counts().index

Index(['Trailer For Commercial Use', 'Trailer for Agriculture Purpose',
       'MOTOR CAR'],
      dtype='object', name='vehicleClass')

In [14]:
# Testing the mode of fuel based on the vehicle to fill up the fuel of -1

df.loc[df['vehicleClass'] == 'Trailer For Commercial Use', 'fuel'].mode()[0]

'DIESEL'

In [15]:
# Method - 2

# Grouping the value based on the fuel


fuel_grp = df.groupby(['fuel'])

In [16]:
# getting the vehicleClass based on the fuel "-1"

fuel_index = fuel_grp['vehicleClass'].value_counts().loc['-1'].index

In [17]:
# Here I selected the Method 2 since i want to experience groupby function

def handle_neg_fuel(df):
    fuel_index = fuel_grp['vehicleClass'].value_counts().loc['-1'].index
    for i in fuel_index:
        print(i)
        if(df['fuel']=='-1').any() and (df['vehicleClass'] == i).any():
            print(df.loc[df['vehicleClass'] == i,'fuel'].mode()[0])
            mode_fuel = df.loc[df['vehicleClass'] == i,'fuel'].mode()[0]
            df.loc[df['fuel'] == '-1', 'fuel'] = mode_fuel
        else:
            print('else_part')
handle_neg_fuel(df)

Trailer For Commercial Use
DIESEL
Trailer for Agriculture Purpose
else_part
MOTOR CAR
else_part

In [18]:
# Checking if the -1 value is filled or not!!

df.loc[df['fuel'] == '-1', 'vehicleClass'].value_counts().index

# Since it showed the empty list we conform it changed

Index([], dtype='object', name='vehicleClass')

In [19]:
# Checking the null value for entire dataset

df.isnull().sum()

# Found the null values on columns of
    # 1) fuel
    # 2) colour
    # 3) insuranceValidity

slno                          0
modelDesc                     0
fuel                      12851
colour                      319
vehicleClass                  0
makeYear                      0
seatCapacity                  0
insuranceValidity           135
secondVehicle                 0
tempRegistrationNumber        0
category                      0
makerName                     0
OfficeCd                      0
fromdate                      0
todate                        0
dtype: int64

In [20]:
# I want to check the unique value for columns, to check any custom null value like -- NA, None, Missing

unique_df = df.isnull().sum().index

In [21]:
# checking the unique value with for loop

def check_null(df):
    for i in unique_df:
        print(i)
        print('Column name: ', i,'\n', df[i].value_counts())
        print('\n')
check_null(df)

slno
Column name:  slno
 slno
6046936     6
2388424     6
4562491     6
5386623     6
2670679     6
           ..
28475       1
28474       1
28473       1
28472       1
12053547    1
Name: count, Length: 354701, dtype: int64


modelDesc
Column name:  modelDesc
 modelDesc
ACTIVA - 6G DLX BSVI                             20336
ACTIVA- DLX BSVI                                 19462
PULSAR 150 DTS-I BSVI                            16290
ACTIVA-DLX BSVI-PH2                              16231
SHINE-125 DRUM BSVI                              14409
                                                 ...
MAHINDRA YUVO 415 DI BSIIIA                          1
MAHINDRA BOLERO NEO N10 (O) (R) BSVI                 1
VERNA 1.5 CRDI MT S+ BSVI                            1
LPT4825 10X2 TRK CHASS COWL WO WINSHIELD BSVI        1
NINJA 300 BSVI-PH2                                   1
Name: count, Length: 4365, dtype: int64


fuel
Column name:  fuel
 fuel
PETROL             477920
DIESEL              78797
BATTERY             36508
CNG PETROL          15571
PETROL LPG           3951
CNG                  2117
PETROL ELECTRIC        87
PETROL CNG             51
LPG                    13
Name: count, dtype: int64


colour
Column name:  colour
 colour
BLACK                           29977
SPARKLING METALLIC BLACK RED    15507
DECENT BLUE METALLIC            15396
GOLDEN YELLOW                   15233
RED                             13049
                                ...
SATIN PEARL WHIT                    1
MATT AXIS GRAY METALL               1
B GREY                              1
WHITE CABIN & GLOAD BODY            1
METALLIC  PREMIUM SILVER            1
Name: count, Length: 5959, dtype: int64


vehicleClass
Column name:  vehicleClass
 vehicleClass
MOTOR CYCLE                                   415814
MOTOR CAR                                     113496
Auto Rickshaw                                  21451
Goods Carriage                                 15781
Tractor for Agricultural Purpose               14962
Motor Cab                                       9586
Tractor for Commercial Use                      8184
Trailer For Commercial Use                      7435
Trailer for Agriculture Purpose                 5979
Three Wheeled Goods Vehicle                     4998
Chassis Transport                               3865
Ominibus                                        2302
Motor Cycle for Hire                             911
Vehicle Fitted with Construction Equipment       788
Omnibus for Private Use                          689
Maxi Cab                                         640
Tractor Driven Combined Harvester                206
Loader                                           175
Ambulance                                        155
Articulated Vehicles                             146
Self Loading Concrete Mixer                       94
SELF PROPELLED HARVESTER                          82
Crane For Private Use                             45
Road Roller                                       42
Fork Lift                                         19
Auto Rikckshaw Private                            12
MOTOR GRADER                                       6
Mopeds and Motorised Cycle                         3
Name: count, dtype: int64


makeYear
Column name:  makeYear
 makeYear
01/01/2023    123637
01/03/2023    103516
01/02/2023     98191
01/04/2023     84969
01/12/2022     52178
01/11/2022     44973
01/05/2023     34558
01/10/2022     26909
01/09/2022     17886
01/08/2022     13772
01/07/2022      8626
01/06/2022      4149
01/04/2022      3916
01/05/2022      2869
01/03/2022      1827
01/01/2022      1494
01/02/2022      1423
01/11/2021       454
01/10/2021       303
01/09/2021       268
01/01/2021       243
01/02/2021       227
01/12/2021       223
01/08/2021       223
01/07/2021       180
01/03/2021       179
01/04/2021       108
01/10/2020        80
01/06/2021        77
01/05/2021        54
01/08/2020        49
00:00.0           47
01/09/2020        43
01/03/2020        38
01/12/2020        36
01/02/2020        30
01/07/2020        25
01/01/2020        22
01/11/2020        22
01/06/2020        12
01/11/2019        10
01/02/2014         4
01/12/2019         3
01/02/2019         3
01/04/2017         2
01/09/2019         2
01/03/2003         2
01/10/2000         2
01/04/2020         2
Name: count, dtype: int64


seatCapacity
Column name:  seatCapacity
 seatCapacity
2     428383
5     101557
1      32632
4      23491
7      17381
0      13414
3       4503
6       2791
8       1087
42       263
40       260
53       211
43       192
41       141
10       134
52       114
36       105
33        99
39        99
13        97
32        86
54        76
11        72
22        62
48        55
27        48
19        46
51        46
18        45
14        42
31        32
45        30
37        26
56        23
63        23
25        20
50        20
47        19
59        19
20        16
12        15
38        14
35        13
60        13
16        12
9          9
23         7
24         7
28         6
26         4
17         2
61         2
29         2
Name: count, dtype: int64


insuranceValidity
Column name:  insuranceValidity
 insuranceValidity
22/03/2028    5642
23/03/2028    5450
26/01/2028    5020
21/03/2028    4937
27/01/2028    4471
              ...
20/08/2028       1
17/02/2202       1
26/06/2027       1
06/08/2026       1
01/06/2028       1
Name: count, Length: 1540, dtype: int64


secondVehicle
Column name:  secondVehicle
 secondVehicle
N    563883
Y     63983
Name: count, dtype: int64


tempRegistrationNumber
Column name:  tempRegistrationNumber
 tempRegistrationNumber
TS11AGTR3069    2
TS33FTR2622     2
TS08DBTR3271    2
TS12PTR5687     2
TS11AGTR9796    2
               ..
TS24LTR0102     1
TS24LTR0092     1
TS24LTR0096     1
TS09FUTR8364    1
TS08DCTR9575    1
Name: count, Length: 358857, dtype: int64


category
Column name:  category
 category
Non Transport    552412
Transport         75454
Name: count, dtype: int64


makerName
Column name:  makerName
 makerName
HONDA MOTORCYCLE&SCOOTER(I)P L         147007
BAJAJ AUTO LTD                          89031
TVS MOTOR COMPANY LTD                   61364
HERO MOTOCORP LTD                       53017
MARUTI SUZUKI INDIA LTD.,               48901
                                        ...
K.S.AGRICULTURAL INDUSTRIES                 2
M/S SRI SAI KIRAN ENGINEERING WORKS         2
TIRTH AGRO TECHNOLOGY PVT LTD               2
UDAYA LAKSHMI ENGG WORKS KMM                1
M/S DELTA AUTOCORP LLP                      1
Name: count, Length: 528, dtype: int64


OfficeCd
Column name:  OfficeCd
 OfficeCd
RTA RANGAREDDY              63046
RTA UPPAL                   41788
RTA-HYDERABAD-CZ            39932
RTA IBRAHIMPATNAM           39688
RTA MEDCHAL                 39028
RTA-HYDERABAD-SZ            22567
RTA-HYDERABAD-NZ            21665
UNIT OFFICE KUKATPALLY      21548
RTA-HYDERABAD-WZ            20508
RTA-HYDERABAD-EZ            16899
RTA KHAMMAM                 13070
UNIT OFFICE PATANCHERUVU    12766
RTA NALGONDA                12342
RTA SANGAREDDY              12141
RTA HANUMAKONDA             11217
RTA SIDDIPET                11125
RTA MAHABOOBNAGAR           10892
RTA WARANGAL                10153
RTA YADADRI                 10027
RTA KARIMNAGAR               9656
UNIT OFFICE PARGI            9491
RTA SURYAPET                 9368
RTA KAMAREDDY                9168
RTA BHADRADRI                8923
RTA NIZAMABAD                8817
RTA MAHABUBABAD              8030
RTA MEDAK                    7898
RTA MANCHERIAL               7704
UNIT OFFICE MIRYALAGUDA      7012
RTA NAGARKURNOOL             6986
RTA JAYASHANKAR              6984
RTA ADILABAD                 6981
RTA NIRMAL                   6753
RTA VIKARABAD                5944
RTA JOGULAMBA                5638
RTA NARAYANPET               5379
RTA JANGOAN                  5311
UNIT OFFICE ZAHIRABAD        5143
RTA KOMRAMBHEEM              5035
RTA RAJANNA                  4798
UNIT OFFICE ARMOOR           4678
RTA WANAPARTHY               4565
UNIT OFFICE KODAD            4500
RTA JAGITYAL                 4428
RTA PEDDAPALLI               4378
UNIT OFFICE BHADRACHALAM     4071
UNIT OFFICE WYRA             3215
UNIT OFFICE KORUTLA          3200
UNIT OFFICE BHODAN           3066
UNIT OFFICE SATTUPALLI       2490
UNIT OFFICE RAMAGUNDAM       2325
UNIT OFFICE HUZURABAD        2266
UNIT OFFICE KALWAKURTHY      1723
UNIT OFFICE PEBBAIR          1050
UNIT OFFICE SHADNAGAR         490
Name: count, dtype: int64


fromdate
Column name:  fromdate
 fromdate
30/03/2023    9072
23/03/2023    8399
24/03/2023    8297
30/05/2023    7626
27/01/2023    7445
              ...
05/02/2023     339
26/02/2023     258
12/02/2023     209
19/02/2023     178
28/02/23        47
Name: count, Length: 148, dtype: int64


todate
Column name:  todate
 todate
31/03/2023    9072
24/03/2023    8399
25/03/2023    8297
31/05/2023    7626
28/01/2023    7445
              ...
05/02/2023     339
26/02/2023     258
12/02/2023     209
19/02/2023     178
28/02/23        47
Name: count, Length: 148, dtype: int64

## We couldn't found any custom null value so we can start to fill the column one by one

## Start with fuel null to fill it out

In [22]:
# As we already gouped fuel we can get mode of vehicleClass as we did already

fuel_grp['vehicleClass'].value_counts()

# Since we haven't updated the groupby object we are still having the "-1", so we cant use it further

fuel             vehicleClass
-1               Trailer For Commercial Use           110
                 Trailer for Agriculture Purpose       85
                 MOTOR CAR                              2
BATTERY          MOTOR CYCLE                        28775
                 MOTOR CAR                           5150
                                                    ...
PETROL ELECTRIC  MOTOR CAR                             73
                 Motor Cab                             14
PETROL LPG       Auto Rickshaw                       3943
                 Auto Rikckshaw Private                 7
                 Three Wheeled Goods Vehicle            1
Name: count, Length: 64, dtype: int64

In [23]:
# So what is the learning here?
# The groupby object is not updated we cant use it further, so we have to use the Method 2
# But it can be useful when we are getting values not suitable for updating it
# else we have to update the groupby object each and everytime

In [24]:
#getting the fuel null velues to match the VehicleClass Column
df['fuel'].isnull()

0         False
1         False
2         False
3         False
4         False
          ...
627861    False
627862    False
627863    False
627864    False
627865    False
Name: fuel, Length: 627866, dtype: bool

In [25]:
# Matching the fuel null with respective vehicle_Class
df[df['fuel'].isnull()]['vehicleClass'].value_counts().index

Index(['Trailer For Commercial Use', 'Trailer for Agriculture Purpose',
       'Tractor for Commercial Use', 'Tractor for Agricultural Purpose',
       'MOTOR CAR'],
      dtype='object', name='vehicleClass')

In [26]:
# Checking out the results for match with a vehicle with fuel of Null value
df.loc[(df['vehicleClass']=='Trailer For Commercial Use') & (df['fuel'].isnull())].head()

,slno,modelDesc,fuel,colour,vehicleClass,makeYear,seatCapacity,insuranceValidity,secondVehicle,tempRegistrationNumber,category,makerName,OfficeCd,fromdate,todate
236,1520606,5 TONS 2 WHEELER SEMI TIPPING T IRON BODY,NaN,RED AND BLACK,Trailer For Commercial Use,01/12/2022,0,16/12/2023,N,TS21CTR8988,Transport,BHAVANI ENGINEERING WORKS JAGITYAL,RTA RAJANNA,01/01/2023,02/01/2023
765,3304280,5 TONS 2 WHEELER SEMI TIPPING T IRON BODY,NaN,OREANGE AND YELLOW,Trailer For Commercial Use,01/12/2022,0,17/12/2023,N,TS29JTR6375,Transport,KISAN INDUSTRIES SURYAPET,RTA SURYAPET,01/01/2023,02/01/2023
912,3307734,5TONS 2WH TRAILERS,NaN,BLUE&YELLOW,Trailer For Commercial Use,01/09/2022,0,01/01/2024,N,TS36DTR8407,Transport,KUMARASWAMY AGRO INDUSTRIES,RTA SIDDIPET,01/01/2023,02/01/2023
923,3812843,5TON 2 WHEELER SEMI TIPPING TRAILER,NaN,RED& YELLOW,Trailer For Commercial Use,01/12/2022,0,02/01/2024,N,TS04ALTR3319,Transport,M/S BHAGYALAKSHMI ENGINEERING WORKS,RTA BHADRADRI,01/01/2023,02/01/2023
953,4464092,TWO WHEELER TRAILOR TIPPING - 5 TONNS,NaN,ORANGE,Trailer For Commercial Use,01/12/2022,0,26/12/2023,N,TS06ARTR4293,Transport,M/S SRI BADESHWARA ARGO INDUSTRIES,RTA NARAYANPET,01/01/2023,02/01/2023

In [27]:
# Checking the null value in the fuel column
df.loc[(df['fuel'].isnull()),'fuel'].head(5)

236    NaN
765    NaN
912    NaN
923    NaN
953    NaN
Name: fuel, dtype: object

In [28]:
df['fuel'].value_counts().index

Index(['PETROL', 'DIESEL', 'BATTERY', 'CNG PETROL', 'PETROL LPG', 'CNG',
       'PETROL ELECTRIC', 'PETROL CNG', 'LPG'],
      dtype='object', name='fuel')

In [29]:
df.loc[(df['vehicleClass']=='Trailer For Commercial Use') & (df['fuel'].isnull()),'fuel']

236       NaN
765       NaN
912       NaN
923       NaN
953       NaN
         ...
626755    NaN
627193    NaN
627270    NaN
627462    NaN
627546    NaN
Name: fuel, Length: 7140, dtype: object

In [30]:
def handle_fuel_null(df):
    null_val = df[df['fuel'].isnull()]['vehicleClass'].value_counts().index
    for i in null_val:
        #filt = df['vehicleClass'] == i
        fuel_got = df[df['vehicleClass']==i]['fuel'].mode()[0]
        df.loc[(df['vehicleClass']==i) & (df['fuel'].isnull()),'fuel'] = fuel_got
        print(i,fuel_got)
handle_fuel_null(df)

Trailer For Commercial Use DIESEL
Trailer for Agriculture Purpose DIESEL
Tractor for Commercial Use DIESEL
Tractor for Agricultural Purpose DIESEL
MOTOR CAR PETROL

In [31]:
df.loc[df['slno']==3307734]

,slno,modelDesc,fuel,colour,vehicleClass,makeYear,seatCapacity,insuranceValidity,secondVehicle,tempRegistrationNumber,category,makerName,OfficeCd,fromdate,todate
912,3307734,5TONS 2WH TRAILERS,DIESEL,BLUE&YELLOW,Trailer For Commercial Use,01/09/2022,0,01/01/2024,N,TS36DTR8407,Transport,KUMARASWAMY AGRO INDUSTRIES,RTA SIDDIPET,01/01/2023,02/01/2023
4738,3307734,5TONS 2WH TRAILERS,DIESEL,BLUE&YELLOW,Trailer For Commercial Use,01/09/2022,0,01/01/2024,N,TS36DTR8407,Transport,KUMARASWAMY AGRO INDUSTRIES,RTA SIDDIPET,02/01/2023,03/01/2023

## Now fill the null value for colour

In [32]:
## Checking out the null values in the Coloru with vehicle class

df.loc[(df['colour'].isnull()),'vehicleClass'].value_counts()

# we found only the Chassis Transport has null value

vehicleClass
Chassis Transport    319
Name: count, dtype: int64

In [33]:
df.loc[(df['colour'].isnull()),'vehicleClass'].value_counts().index

Index(['Chassis Transport'], dtype='object', name='vehicleClass')

In [34]:
# Checkingh the Colours for the chassis tansport

df.loc[(df['vehicleClass']=='Chassis Transport'),'colour'].value_counts()

# We found large number of NIL value
# Because the Chassis vehicle mostly don't have its vehicle body, so we treat them as it is
# And we can assign random colour for the chasis vehicle which can be the better option

colour
NIL                 1525
TITANIUM_WHITE       715
NEW GOLDEN BROWN     237
ARCTIC WHITE         234
TITANIUM WHITE       201
C1ARTCWHIT           152
WHITE                122
M5EDCOATED            83
DAZZLING WHITE        66
BRICK_RED             38
ARCTIC_WHITE          36
BLACK                 34
PRIMER                26
IRISH CREAM           12
C1GLDNBRWN            12
JOSHBLUE              10
LIGHT GREY             7
M5WHITE                7
TITANIM WHITE          6
STABLE GREY            5
ARTIC WHITE            4
TITANIUM_WH            4
RUBY_RED               2
PREMIER                2
YELLOW                 2
NEW GLODEN BROWN       1
TITANIMUM WHITE        1
LIGHT GRAY             1
GOLDEN BROWN           1
Name: count, dtype: int64

In [35]:
# Storing the colour values in a variable
df.loc[(df['vehicleClass']=='Chassis Transport'),'colour'].value_counts().index

Index(['NIL', 'TITANIUM_WHITE', 'NEW GOLDEN BROWN', 'ARCTIC WHITE',
       'TITANIUM WHITE', 'C1ARTCWHIT', 'WHITE', 'M5EDCOATED', 'DAZZLING WHITE',
       'BRICK_RED', 'ARCTIC_WHITE', 'BLACK', 'PRIMER', 'IRISH CREAM',
       'C1GLDNBRWN', 'JOSHBLUE', 'LIGHT GREY', 'M5WHITE', 'TITANIM WHITE',
       'STABLE GREY', 'ARTIC WHITE', 'TITANIUM_WH', 'RUBY_RED', 'PREMIER',
       'YELLOW', 'NEW GLODEN BROWN', 'TITANIMUM WHITE', 'LIGHT GRAY',
       'GOLDEN BROWN'],
      dtype='object', name='colour')

In [36]:
df.loc[df['vehicleClass'] == 'Chassis Transport', 'colour'].dropna().unique()

array(['NIL', 'C1GLDNBRWN', 'TITANIUM WHITE', 'TITANIUM_WHITE',
       'BRICK_RED', 'PRIMER', 'NEW GOLDEN BROWN', 'WHITE', 'ARCTIC WHITE',
       'TITANIM WHITE', 'DAZZLING WHITE', 'IRISH CREAM', 'TITANIUM_WH',
       'ARTIC WHITE', 'ARCTIC_WHITE', 'LIGHT GREY', 'BLACK', 'C1ARTCWHIT',
       'PREMIER', 'YELLOW', 'TITANIMUM WHITE', 'LIGHT GRAY', 'M5WHITE',
       'M5EDCOATED', 'STABLE GREY', 'JOSHBLUE', 'RUBY_RED',
       'NEW GLODEN BROWN', 'GOLDEN BROWN'], dtype=object)

In [37]:
import random
def handle_colour(df):
    null_colour=df.loc[(df['colour'].isnull()),'vehicleClass'].value_counts().index
    avail_colour = df.loc[(df['vehicleClass']=='Chassis Transport'),'colour'].value_counts().index
    for i in null_colour:
        #avail_colour = df.loc[(df['vehicleClass']==i),'colour'].value_counts().index
        print(avail_colour)
        random_colour = random.choice(avail_colour)
        df['colour']=df['colour'].fillna(random_colour)
        print(random_colour)
    else:
        print('else__')
handle_colour(df)

Index(['NIL', 'TITANIUM_WHITE', 'NEW GOLDEN BROWN', 'ARCTIC WHITE',
       'TITANIUM WHITE', 'C1ARTCWHIT', 'WHITE', 'M5EDCOATED', 'DAZZLING WHITE',
       'BRICK_RED', 'ARCTIC_WHITE', 'BLACK', 'PRIMER', 'IRISH CREAM',
       'C1GLDNBRWN', 'JOSHBLUE', 'LIGHT GREY', 'M5WHITE', 'TITANIM WHITE',
       'STABLE GREY', 'ARTIC WHITE', 'TITANIUM_WH', 'RUBY_RED', 'PREMIER',
       'YELLOW', 'NEW GLODEN BROWN', 'TITANIMUM WHITE', 'LIGHT GRAY',
       'GOLDEN BROWN'],
      dtype='object', name='colour')
DAZZLING WHITE
else__

In [38]:
avail_colour = df.loc[(df['vehicleClass']=='Chassis Transport'),'colour'].value_counts().index
avail_colour

Index(['NIL', 'TITANIUM_WHITE', 'DAZZLING WHITE', 'NEW GOLDEN BROWN',
       'ARCTIC WHITE', 'TITANIUM WHITE', 'C1ARTCWHIT', 'WHITE', 'M5EDCOATED',
       'BRICK_RED', 'ARCTIC_WHITE', 'BLACK', 'PRIMER', 'IRISH CREAM',
       'C1GLDNBRWN', 'JOSHBLUE', 'LIGHT GREY', 'M5WHITE', 'TITANIM WHITE',
       'STABLE GREY', 'ARTIC WHITE', 'TITANIUM_WH', 'RUBY_RED', 'PREMIER',
       'YELLOW', 'NEW GLODEN BROWN', 'TITANIMUM WHITE', 'LIGHT GRAY',
       'GOLDEN BROWN'],
      dtype='object', name='colour')

In [39]:
df.loc[(df['colour'].isnull()),'vehicleClass'].value_counts()

Series([], Name: count, dtype: int64)

In [40]:
## We successfully converted the colour null into some colour but the result is not as expected
## I wanted to fill the random colours for the vehicle class, but it filled single colour

In [41]:
df.loc[(df['vehicleClass']=='Chassis Transport'),'colour'].value_counts()

colour
NIL                 1525
TITANIUM_WHITE       715
DAZZLING WHITE       385
NEW GOLDEN BROWN     237
ARCTIC WHITE         234
TITANIUM WHITE       201
C1ARTCWHIT           152
WHITE                122
M5EDCOATED            83
BRICK_RED             38
ARCTIC_WHITE          36
BLACK                 34
PRIMER                26
IRISH CREAM           12
C1GLDNBRWN            12
JOSHBLUE              10
LIGHT GREY             7
M5WHITE                7
TITANIM WHITE          6
STABLE GREY            5
ARTIC WHITE            4
TITANIUM_WH            4
RUBY_RED               2
PREMIER                2
YELLOW                 2
NEW GLODEN BROWN       1
TITANIMUM WHITE        1
LIGHT GRAY             1
GOLDEN BROWN           1
Name: count, dtype: int64

## Now lets fill up for the insurance_validity

In [42]:
df.loc[(df['insuranceValidity'].isnull()),'vehicleClass'].value_counts()

vehicleClass
Chassis Transport                             39
Trailer For Commercial Use                    27
Ambulance                                     26
MOTOR CAR                                     21
Goods Carriage                                13
MOTOR CYCLE                                    4
Vehicle Fitted with Construction Equipment     2
Tractor for Agricultural Purpose               2
Ominibus                                       1
Name: count, dtype: int64

In [43]:
df.loc[(df['vehicleClass']=='Ominibus'),'insuranceValidity'].mode()[0]

'19/03/2024'

In [44]:
df['insuranceValidity'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 627866 entries, 0 to 627865
Series name: insuranceValidity
Non-Null Count   Dtype
--------------   -----
627731 non-null  object
dtypes: object(1)
memory usage: 4.8+ MB

In [45]:
df['insuranceValidity'].isnull().value_counts()

insuranceValidity
False    627731
True        135
Name: count, dtype: int64

In [46]:
df.loc[(df['insuranceValidity'].isnull()) & (df['vehicleClass']=='Ambulance')].head()

,slno,modelDesc,fuel,colour,vehicleClass,makeYear,seatCapacity,insuranceValidity,secondVehicle,tempRegistrationNumber,category,makerName,OfficeCd,fromdate,todate
25027,2736366,FORCE TCRUSERAMBULANCE FM2.6CR30506+PHT4X2 BSVI,DIESEL,SNOW WHITE,Ambulance,01/11/2022,7,NaN,N,TS08CYTR4078,Transport,FORCE MOTORS LIMITED,RTA KARIMNAGAR,06/01/2023,07/01/2023
25028,2736367,FORCE TCRUSERAMBULANCE FM2.6CR30506+PHT4X2 BSVI,DIESEL,SNOW WHITE,Ambulance,01/12/2022,7,NaN,N,TS08CYTR4060,Transport,FORCE MOTORS LIMITED,RTA HANUMAKONDA,06/01/2023,07/01/2023
25088,2736401,FORCE TCRUSERAMBULANCE FM2.6CR30506+PHT4X2 BSVI,DIESEL,SNOW WHITE,Ambulance,01/11/2022,7,NaN,N,TS08CYTR4044,Transport,FORCE MOTORS LIMITED,RTA-HYDERABAD-CZ,06/01/2023,07/01/2023
25089,2736526,FORCE TCRUSERAMBULANCE FM2.6CR30506+PHT4X2 BSVI,DIESEL,SNOW WHITE,Ambulance,01/12/2022,7,NaN,N,TS08CYTR4064,Transport,FORCE MOTORS LIMITED,RTA MEDCHAL,06/01/2023,07/01/2023
25093,2736505,FORCE TCRUSERAMBULANCE FM2.6CR30506+PHT4X2 BSVI,DIESEL,SNOW WHITE,Ambulance,01/12/2022,7,NaN,N,TS08CYTR4065,Transport,FORCE MOTORS LIMITED,RTA KHAMMAM,06/01/2023,07/01/2023

In [47]:
def handle_null_insure(df):
    null_insure = df.loc[(df['insuranceValidity'].isnull()),'vehicleClass'].value_counts().index
    for i in null_insure:
        mode_insure = df.loc[(df['vehicleClass']==i),'insuranceValidity'].mode()[0]
        df.loc[(df['vehicleClass']==i) & (df['insuranceValidity'].isnull()),'insuranceValidity'] = mode_insure
        print(i,mode_insure)

handle_null_insure(df)

Chassis Transport 17/01/2024
Trailer For Commercial Use 15/03/2024
Ambulance 28/09/2023
MOTOR CAR 29/03/2026
Goods Carriage 29/03/2024
MOTOR CYCLE 22/03/2028
Vehicle Fitted with Construction Equipment 02/01/2024
Tractor for Agricultural Purpose 30/05/2024
Ominibus 19/03/2024

In [48]:
df.loc[(df['insuranceValidity']=='28/09/2023') & (df['vehicleClass']=='Ambulance')].head()

,slno,modelDesc,fuel,colour,vehicleClass,makeYear,seatCapacity,insuranceValidity,secondVehicle,tempRegistrationNumber,category,makerName,OfficeCd,fromdate,todate
25027,2736366,FORCE TCRUSERAMBULANCE FM2.6CR30506+PHT4X2 BSVI,DIESEL,SNOW WHITE,Ambulance,01/11/2022,7,28/09/2023,N,TS08CYTR4078,Transport,FORCE MOTORS LIMITED,RTA KARIMNAGAR,06/01/2023,07/01/2023
25028,2736367,FORCE TCRUSERAMBULANCE FM2.6CR30506+PHT4X2 BSVI,DIESEL,SNOW WHITE,Ambulance,01/12/2022,7,28/09/2023,N,TS08CYTR4060,Transport,FORCE MOTORS LIMITED,RTA HANUMAKONDA,06/01/2023,07/01/2023
25088,2736401,FORCE TCRUSERAMBULANCE FM2.6CR30506+PHT4X2 BSVI,DIESEL,SNOW WHITE,Ambulance,01/11/2022,7,28/09/2023,N,TS08CYTR4044,Transport,FORCE MOTORS LIMITED,RTA-HYDERABAD-CZ,06/01/2023,07/01/2023
25089,2736526,FORCE TCRUSERAMBULANCE FM2.6CR30506+PHT4X2 BSVI,DIESEL,SNOW WHITE,Ambulance,01/12/2022,7,28/09/2023,N,TS08CYTR4064,Transport,FORCE MOTORS LIMITED,RTA MEDCHAL,06/01/2023,07/01/2023
25093,2736505,FORCE TCRUSERAMBULANCE FM2.6CR30506+PHT4X2 BSVI,DIESEL,SNOW WHITE,Ambulance,01/12/2022,7,28/09/2023,N,TS08CYTR4065,Transport,FORCE MOTORS LIMITED,RTA KHAMMAM,06/01/2023,07/01/2023

In [49]:
df.isnull().sum()

# By this we have fixed all of our null value, so now onwards we can explore the data

slno                      0
modelDesc                 0
fuel                      0
colour                    0
vehicleClass              0
makeYear                  0
seatCapacity              0
insuranceValidity         0
secondVehicle             0
tempRegistrationNumber    0
category                  0
makerName                 0
OfficeCd                  0
fromdate                  0
todate                    0
dtype: int64

In [50]:
df.shape

(627866, 15)

In [51]:

df.drop_duplicates(inplace=True)

In [52]:
df.shape

(627866, 15)

# Now we can make questions and try to find answers

In [53]:
df.head(2)

,slno,modelDesc,fuel,colour,vehicleClass,makeYear,seatCapacity,insuranceValidity,secondVehicle,tempRegistrationNumber,category,makerName,OfficeCd,fromdate,todate
0,19139,ACTIVA - 6G DLX BSVI,PETROL,DECENT BLUE METALLIC,MOTOR CYCLE,01/08/2022,2,01/01/2028,Y,TS11AGTR3069,Non Transport,HONDA MOTORCYCLE&SCOOTER(I)P L,RTA MEDCHAL,01/01/2023,02/01/2023
1,19210,ACTIVA - 6G DLX BSVI,PETROL,DECENT BLUE METALLIC,MOTOR CYCLE,01/09/2022,2,01/01/2028,Y,TS11AGTR3340,Non Transport,HONDA MOTORCYCLE&SCOOTER(I)P L,RTA MEDCHAL,01/01/2023,02/01/2023

In [54]:
# Check out the motorcycle count with fuel wise
motorcycle_fuel = (df['vehicleClass']=='MOTOR CYCLE')
df.loc[(motorcycle_fuel),'fuel'].value_counts()
# Observaation
# Most of the motorcycle are running at Petrol followed by Battery

fuel
PETROL     387039
BATTERY     28775
Name: count, dtype: int64

In [55]:
vehicle_fuel = df['vehicleClass'].value_counts().index
vehicle_fuel

Index(['MOTOR CYCLE', 'MOTOR CAR', 'Auto Rickshaw', 'Goods Carriage',
       'Tractor for Agricultural Purpose', 'Motor Cab',
       'Tractor for Commercial Use', 'Trailer For Commercial Use',
       'Trailer for Agriculture Purpose', 'Three Wheeled Goods Vehicle',
       'Chassis Transport', 'Ominibus', 'Motor Cycle for Hire',
       'Vehicle Fitted with Construction Equipment', 'Omnibus for Private Use',
       'Maxi Cab', 'Tractor Driven Combined Harvester', 'Loader', 'Ambulance',
       'Articulated Vehicles', 'Self Loading Concrete Mixer',
       'SELF PROPELLED HARVESTER', 'Crane For Private Use', 'Road Roller',
       'Fork Lift', 'Auto Rikckshaw Private', 'MOTOR GRADER',
       'Mopeds and Motorised Cycle'],
      dtype='object', name='vehicleClass')

In [56]:
## plotting plots
vehicle_name = []
fuel_name = []
fuel_count = []
for i in vehicle_fuel:
    motorcycle_fuel = (df['vehicleClass']==i)
    fuel = df.loc[(motorcycle_fuel),'fuel'].value_counts()
    vehicle_name.append(i)
    fuel_name.append(fuel.index)
    fuel_count.append(fuel.values)
    
    #print('Vehicle Name : ',i,'\n',fuel,'\n')

In [57]:
fuel_count[0]

array([387039,  28775], dtype=int64)

In [58]:
vehicle_name

['MOTOR CYCLE',
 'MOTOR CAR',
 'Auto Rickshaw',
 'Goods Carriage',
 'Tractor for Agricultural Purpose',
 'Motor Cab',
 'Tractor for Commercial Use',
 'Trailer For Commercial Use',
 'Trailer for Agriculture Purpose',
 'Three Wheeled Goods Vehicle',
 'Chassis Transport',
 'Ominibus',
 'Motor Cycle for Hire',
 'Vehicle Fitted with Construction Equipment',
 'Omnibus for Private Use',
 'Maxi Cab',
 'Tractor Driven Combined Harvester',
 'Loader',
 'Ambulance',
 'Articulated Vehicles',
 'Self Loading Concrete Mixer',
 'SELF PROPELLED HARVESTER',
 'Crane For Private Use',
 'Road Roller',
 'Fork Lift',
 'Auto Rikckshaw Private',
 'MOTOR GRADER',
 'Mopeds and Motorised Cycle']

In [59]:
fuel_name

[Index(['PETROL', 'BATTERY'], dtype='object', name='fuel'),
 Index(['PETROL', 'DIESEL', 'BATTERY', 'CNG PETROL', 'PETROL ELECTRIC', 'CNG'], dtype='object', name='fuel'),
 Index(['CNG PETROL', 'DIESEL', 'PETROL LPG', 'CNG', 'BATTERY', 'PETROL CNG',
        'LPG', 'PETROL'],
       dtype='object', name='fuel'),
 Index(['DIESEL', 'PETROL', 'CNG', 'BATTERY', 'CNG PETROL'], dtype='object', name='fuel'),
 Index(['DIESEL', 'PETROL'], dtype='object', name='fuel'),
 Index(['PETROL', 'CNG PETROL', 'BATTERY', 'DIESEL', 'PETROL ELECTRIC'], dtype='object', name='fuel'),
 Index(['DIESEL'], dtype='object', name='fuel'),
 Index(['DIESEL'], dtype='object', name='fuel'),
 Index(['DIESEL'], dtype='object', name='fuel'),
 Index(['DIESEL', 'BATTERY', 'CNG PETROL', 'CNG', 'PETROL LPG'], dtype='object', name='fuel'),
 Index(['DIESEL', 'CNG'], dtype='object', name='fuel'),
 Index(['DIESEL', 'BATTERY'], dtype='object', name='fuel'),
 Index(['BATTERY', 'PETROL'], dtype='object', name='fuel'),
 Index(['DIESEL'], dtype='object', name='fuel'),
 Index(['PETROL', 'DIESEL'], dtype='object', name='fuel'),
 Index(['DIESEL', 'PETROL'], dtype='object', name='fuel'),
 Index(['DIESEL'], dtype='object', name='fuel'),
 Index(['DIESEL'], dtype='object', name='fuel'),
 Index(['DIESEL', 'PETROL'], dtype='object', name='fuel'),
 Index(['DIESEL'], dtype='object', name='fuel'),
 Index(['DIESEL'], dtype='object', name='fuel'),
 Index(['DIESEL'], dtype='object', name='fuel'),
 Index(['DIESEL'], dtype='object', name='fuel'),
 Index(['DIESEL'], dtype='object', name='fuel'),
 Index(['DIESEL'], dtype='object', name='fuel'),
 Index(['PETROL LPG', 'CNG PETROL'], dtype='object', name='fuel'),
 Index(['DIESEL'], dtype='object', name='fuel'),
 Index(['PETROL'], dtype='object', name='fuel')]

In [60]:
fuel_count

[array([387039,  28775], dtype=int64),
 array([83492, 21779,  5150,  3001,    73,     1], dtype=int64),
 array([9604, 5678, 3943, 1737,  413,   51,   13,   12], dtype=int64),
 array([14658,   797,   270,    36,    20], dtype=int64),
 array([14959,     3], dtype=int64),
 array([5983, 2838,  408,  343,   14], dtype=int64),
 array([8184], dtype=int64),
 array([7435], dtype=int64),
 array([5979], dtype=int64),
 array([3862,  956,  103,   76,    1], dtype=int64),
 array([3832,   33], dtype=int64),
 array([2280,   22], dtype=int64),
 array([748, 163], dtype=int64),
 array([788], dtype=int64),
 array([358, 331], dtype=int64),
 array([599,  41], dtype=int64),
 array([206], dtype=int64),
 array([175], dtype=int64),
 array([112,  43], dtype=int64),
 array([146], dtype=int64),
 array([94], dtype=int64),
 array([82], dtype=int64),
 array([45], dtype=int64),
 array([42], dtype=int64),
 array([19], dtype=int64),
 array([7, 5], dtype=int64),
 array([6], dtype=int64),
 array([3], dtype=int64)]

In [61]:
x_index = np.arange(len(fuel_count[1]))

In [62]:
x_index

array([0, 1, 2, 3, 4, 5])

In [63]:
vehicle_name[1]

'MOTOR CAR'

In [64]:
fuel_name[1]

Index(['PETROL', 'DIESEL', 'BATTERY', 'CNG PETROL', 'PETROL ELECTRIC', 'CNG'], dtype='object', name='fuel')

In [ ]:
df.loc[(df['vehicleClass']== 'MOTOR CAR') & (df['fuel']=='DIESEL'),['fuel','vehicleClass','colour']].value_counts()

In [ ]:
df['insuranceValidity'] = pd.to_datetime(df['insuranceValidity'], format='%d/%m/%Y', errors='coerce')